
*{
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
}

/* different units is px,vh    1 vh =19.2px */
.container{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: white;
}
/* display in same line */
.nav_bar{
    display: flex;
    width: 84%;
    /*to place items left and right  */
    justify-content: space-between;
    margin: left 0;
    align-items: center;
   
  
   
/* to vertically centre an item */
}
#logo{
    width: 140px;
}
.linkitem{
    display: inline-block;
    /* inline block is used for alighn in same line .. the case of nav bar */
    margin: 10px,20px;
    padding: 10px;
}
.links{
    text-decoration: none;
    font-weight: bolder;
    color: black;
}
.links:hover{
    color: rgb(245, 166, 8);
}
#lastname{
    color: orange;
}
.title{
    margin-top: 13%;
    margin-left: 12%;
   
}
.title_h1{
    font-size: xx-large;
    margin-bottom: 20px;

}
.download{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px 30px;
    margin-top: 30px;
    display: inline-block;
    border-radius: 10px;

}
.images{
    height: 85%;
    width: 45%;
    position: absolute;
    right: 30px;
    bottom: 0px;
}
.img_grp{
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: 50%;
    /* it is used to do transitions */
    transform: translateX(-50%);
    transition: bottom 1s,left 2s;
}
.images:hover #girl{
    /* hover settings */
    left: 40%;
}
.images:hover #shape{
    bottom: 40px;
}
#about{
    margin: 20% 8% 0% 8%;
}
.heading{
    text-align: center;
}
.heading h1{
    font-size: 32px;
}
.heading span{
    color:orange;
    font-size: 20px;
}
.about_content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* 1fr is equel to 225px */
    column-gap: 2rem;
    /* 1rem is equel to 16px */
    margin-top: 3rem;
}
.about_img img{
    width: 80%;
    border-radius: 10px;
}
.about_para p{
    text-align: justify;
    font-size: 20px;
}
.info{
    margin-top: 25px;
   
}
.info_box span{
    margin-left: 1rem;
    font-size: 20px;
}
.info_box{
    padding: 20px;
}
.heading1 h1{
    font-size: 32px;
}
.heading1 span{
    color:orange;
    font-size: 20px;
}
.heading1{
    text-align: center;
    padding: 20px;
}
#skills{
    margin: 5% 8% 0% 8%;
}
.skill_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
    margin-top: 3rem;
}
.progress_container{
    margin-top: 10px;
}
.progress_bar{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    padding: 1rem 0px;
    justify-content: space-between;
    position: relative;
}
.bar{
    width: 100%;
    height: 0.5rem;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    position: absolute;
    bottom:0px ;
}
.html_bar{
    width: 95%;
    background-color: orange;
}
.css_bar{
    width: 80%;
    background-color: orange;
}
.java_bar{
    width: 70%;
    background-color: orange;
}
.boot_bar{
    width: 65%;
    background-color: orange;
}
.skill_img{
    width: 90%;
    padding-left: 4rem;
}
#contact{
    margin: 5% 8% 0% 8%;
}
.icon_set{
    display: flex;
    align-items: center;     /* to vertically center the item */
    justify-content: center;   /* to horizontelly centre the item */
    margin-top: 2rem;
     
}
.icon, .up_arrow{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 15px;
}
.icon i{
    font-size: 2rem;
    color: rgb(0, 0, 0);
}
footer p{
    text-align: center;
    font-weight: bolder;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.icon:hover{
    background-image: linear-gradient( to bottom right, yellow ,red);
}
.icon:hover i{
    color: white;
    animation: shake 0.75s;
}
@keyframes shake{
    10% {
        transform: rotate(15deg);
    }
    20%{
        transform: rotate(-15deg);
    }
    30%{
        transform: rotate(15deg);
    }
    40%{
        transform: rotate(-15deg);
    }
}
.up_arrow{
    background-image: linear-gradient(to bottom right, yellow,red);
    float: right;
    margin: 20px 10px 5px 0px;
}
html{
    scroll-behavior: smooth;
}